:root {
    --ff-sans: 'Rubik', sans-serif;
  
    --clr-primary-blue: hsl(246, 80%, 60%);
    --clr-primary-light-red: hsl(15, 100%, 70%);
    --clr-primary-soft-blue: hsl(195, 74%, 62%);
    --clr-primary-light-red: hsl(348, 100%, 68%);
    --clr-primary-lime-green: hsl(145, 58%, 55%);
    --clr-primary-violet: hsl(264, 64%, 52%);
    --clr-primary-soft-orange: hsl(43, 84%, 65%);
    
    --clr-neutral-very-dark-blue: hsl(226, 43%, 10%);
    --clr-neutral-dark-blue: hsl(235, 46%, 20%);
    --clr-neutral-desaturated-blue: hsl(235, 45%, 61%);
    --clr-neutral-pale-blue: hsl(236, 100%, 87%);

    --clr-white: hsl(0, 0%, 100%);
  
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
  
    --fs-100: 0.625rem; // 10px
    --fs-200: 0.688rem; // 11px
    --fs-300: 0.75rem;  // 12px
    --fs-400: 0.875rem; // 14px
    --fs-500: 1rem;     // 16px
    --fs-600: 1.125rem  // 18px
    --fs-700: 1.5rem    // 20px
    --fs-800: 2rem      // 32px
    --fs-900: 3rem      // 48px
  }